<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='d2site.contenttile'}"/>
</sly>
<div data-cmp-is="contenttile"
     data-sly-use.model="com.d2.core.models.ContentTileModel"
     data-sly-test="${model}"
     class="${model.cssClass}">

    <div class="cmp-contenttile__icon" data-sly-test="${model.iconPath}">
        <img class="cmp-contenttile__icon-image"
             src="${model.iconPath}"
             alt="${model.headline || 'icon'}"/>
    </div>

    <h3 class="cmp-contenttile__headline" data-sly-test="${model.headline}">
        ${model.headline}
    </h3>

    <p class="cmp-contenttile__subtitle" data-sly-test="${model.subtitle}">
        ${model.subtitle}
    </p>
</div>
